<?xml version="1.0"?>
<config>
	<modules>
		<GoSquared_Analytics>
			<version>0.1.8</version>
		</GoSquared_Analytics>
	</modules>
	<global>
		<blocks>
			<analytics>
				<class>GoSquared_Analytics_Block</class>
			</analytics>
		</blocks>
		<models>
			<analytics>
				<class>GoSquared_Analytics_Model</class>
			</analytics>
		</models>
		<helpers>
            <analytics>
                <class>GoSquared_Analytics_Helper</class>
            </analytics>
        </helpers>
	</global>
	
	<admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <gosquared_analytics before="Mage_Adminhtml">GoSquared_Analytics_Adminhtml</gosquared_analytics>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <analytics>
                                            <title>Analytics</title>
                                        </analytics>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<analytics>
					<file>analytics.xml</file>
				</analytics>
			</updates>
		</layout>
	</adminhtml>
	
	<frontend>
		<layout>
			<updates>
				<analytics>
					<file>analytics.xml</file>
				</analytics>
			</updates>
		</layout>
	</frontend>
	
	<default>
		<analytics>
			<settings>
				<acctcode>GSN-000000-X</acctcode>
				<userdisplay>2</userdisplay>
				<admintrack>1</admintrack>
			</settings>
		</analytics>
	</default>
</config>